<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.populstay.populife">
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取通讯录 -->
  <!--  <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!-- 文件读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--屏蔽选择部分图片的权限-->
   <!-- <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 指纹识别 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 蓝牙 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!--Android12 的蓝牙权限 如果您的应用查找蓝牙设备（如蓝牙低功耗 (BLE) 外围设备）-->
    <!-- Include "neverForLocation" only if you can strongly assert that
         your app never derives physical location from Bluetooth scan results. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <!--Android12 的蓝牙权限 如果您的应用与已配对的蓝牙设备通信或者获取当前手机蓝牙是否打开-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--Android 6-11 定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.google.android.gm" /> <!-- Gmail -->
        <package android:name="com.microsoft.office.outlook" /> <!-- Outlook -->
        <package android:name="com.netease.mail" /> <!-- Outlook -->
        <package android:name="com.tencent.qqmail" />
        <package android:name="com.netease.mailmaster" />
        <package android:name="com.tencent.wefax" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.aliyun.alimail" />
        <package android:name="com.huawei.email" />
        <package android:name="com.xiaomi.email" />
        <package android:name="com.coloros.email" />
        <package android:name="com.vivo.email" />
        <package android:name="com.samsung.android.email" />
        <package android:name="ch.protonmail.protonmail" />
        <package android:name="im.spark.spark" />
        <package android:name="com.yahoo.mobile.client.android.mail" />
        <package android:name="com.android.email" />

        <intent>
            <action android:name="android.intent.action.SENDTO" />
        </intent>
    </queries>

    <!--android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:name">
        <activity
            android:exported="false"
            android:name=".activity.LockSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <!-- Register Bluetooth Service -->
        <!-- Register Bluetooth Service -->
        <service android:name="com.populock.manhattan.sdk.service.BleService" android:exported="true"/>
        <service android:name=".push.EventPushService"       android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="android.permission.permRead"
            android:writePermission="android.permission.permWrite">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--蓝牙钥匙分享链接跳转配置-->
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--share://com.populstay.populife/key?preId=1-->
                <data
                    android:host="com.populstay.populife"
                    android:path="/key"
                    android:scheme="share" />

            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name=".activity.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockAddSelectTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ModifyNicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.CustomerServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.AccountBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.FeedbackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.SubmitNewFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.CommonQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.CommonQuestionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockGroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockGroupEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockAddGuideKeyboxOpenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockAddGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.FoundDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockOperateRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockSendEkeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockSendPasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockManageBluetoothKeyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockManagePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockNameAddActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:exported="false"
            android:name=".activity.LockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockOperateRecordSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.EkeyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.PasscodeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ModifyLockNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ModifyAdminPasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockGroupSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockAutoLockingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockUserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ExpiringKeyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.PasscodeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.EkeyRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.GatewayListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.GatewayAddGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.DeleteAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.EkeyPeriodModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.EkeyPermissionModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.EkeyShareModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.GatewayAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.PasscodePeriodModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.GatewayBindedLockListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LockManageIcCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.GatewayBindedLockDetailActivity"
            android:screenOrientation="portrait" /> <!-- 图片剪裁Activity -->
        <activity
            android:exported="false"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:exported="false"
            android:name=".activity.LockRemoteUnlockConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.FingerprintIcCardAddConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.IcCardKeyboardOperateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.IcCardUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.IcCardBluetoothAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.LoginVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.PDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".home.HomeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".home.HomeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".home.HomeCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ActivateDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.AddDeviceSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.AddDeviceFailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".keypwdmanage.KeyPwdManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".keypwdmanage.KeyPwdTypeSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".me.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".me.ServiceSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintenanceRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintAfterSaleProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintRequestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintServicePopuCarePayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintWorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintServiceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".maintservice.MaintWarrantyStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".keypwdmanage.KeyPwdMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".keypwdmanage.ModifyPinCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".keypwdmanage.KeyCreateSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".activity.ModifyCommonPasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OfflineLockListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LockSendPasscodeNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LockTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LockTransferConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LockNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>